*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

header{
  .container{
    max-width: 1920px;
    margin: 0 auto;
    nav{
      .head{
        padding: 8px 40px;
        background: rgb(244, 245, 245);
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .title{
          color: #62656A;
          font-size: 14px;
        }
        .left, .right{
          ul{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            list-style: none;
            .city{
              cursor: pointer;
              color: black;
              text-decoration: none;
              button{
                border: none;
                background-color: none;
                text-decoration: underline;
                cursor: pointer;
              }
            }
            li{
              display: flex;
              align-items: center;
              gap: 10px;
              cursor: pointer;
              font-weight: 400;
            }
          }
        }
        .right ul{
          color: #62656A;
          font-size: 14px;
        }
      }
      .header{
        padding: 20px 40px 0 40px;
        display: flex;
        justify-content: space-between;
        .left{
          display: flex;
          align-items: center;
          gap: 30px;
          .catalog{
            border-radius: 4px;
            background: rgba(49, 49, 196, 0.10);
            width: 120px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            p{
              color: rgb(51, 51, 204);
              font-weight: bold;
              display: flex;
              gap: 5px;
            }
          }
          .catalog:hover{
            background: rgba(49, 49, 196, 0.2);
          }
        }
        .search{
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 0 10px;
          position: relative;
          input{
          border: 2px solid rgb(200, 200, 200);
          width: 100%;
          height: 40px;
          border-radius: 4px 0 0 4px;
          padding: 0 10px;
          }
          button{
            width: 75px;
            height: 40px;
            border: 2px solid rgb(200, 200, 200);
            border-radius: 0 4px 4px 0;
            cursor: pointer;
            position: absolute;
            right: 0;
          }
        }
        .right{
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 0 10px;
          ul{
            width: 350px;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            list-style: none;
            gap: 5px;
            li{
              display: flex;
              justify-content: center;
              align-items: center;
              cursor: pointer;
              width: 120px;
              height: 40px;
              border-radius: 4px;
            }
            li:hover{
            background: rgb(230, 230, 230);
            }
          }
        }
      }
      .nav_catalog{
        padding: 0 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        li{
          display: flex;
          align-items: center;
          gap: 5px;
          font-size: 14px;
          line-height: 38px;
          cursor: pointer;
          font-weight: 500;
          opacity: 55%;
          img{
            width: 25px;
          }
        }
        p{
          font-size: 14px;
          line-height: 38px;
          cursor: pointer;
          font-weight: 500;
          opacity: 55%;
        }
        p:hover{
          opacity: 80%;
        }
        .active{
          opacity: 100%;
          font-weight: bold;
        }
        li:hover{
          opacity: 80%;
          position: relative;
        }
        li:hover::after{
          content: '';
          width: 100%;
          height: 2px;
          background-color: black;
          position: absolute;
          bottom: 0;
          animation: line .5s ease-in-out;
          @keyframes line{
            from{
              width: 0;
            }
            to{
              width: 100%;
            }
          }
        }
      }
    }
  }
}

section{
  .container{
    max-width: 1920px;
    padding: 0 40px;
    margin: 0 auto;
    .banner{
      max-width: 100%;
      margin-top: 40px;
      overflow: hidden;
      .banner_wrapper{
        margin: 0 auto;
        flex: 1 1 auto;
        align-items: center;
        min-width: 0;
        position: relative;
        .slide{
          width: 100%;
          img{
            width: 100%;
          }
        }
      }
    }
    .title{
      display: flex;
      align-items: center;
      padding-top: 20px;
      cursor: pointer;
      h2{
        font-size: 28px;
        img{
          width: 40px;
          height: 40px;
        }
      }
    }
    .sale_box{
      margin-top: 40px;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 20px;
      position: relative;
      .item{
        width: 100%;
        border-radius: 15px;
        position: relative;
        .img_box{
          background-color: rgba(49, 49, 196, 0.10);
          padding: 5px;
          border-radius: 15px;
          img{
            width: 100%;
            height: 253px;
            border-radius: 15px;
          }        
          .favourite{
            width: 25px;
            height: 25px;
            background: url('/public/heart.svg') no-repeat center / cover;
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;
            padding: 12px;
          }
          .sale{
            border-radius: 4px;
            background: #5000AA;
            color: white;
            padding: 5px;
            position: absolute;
            top: 230px;
            left: 5px;
          }
        }
        .name{
          padding: 10px;
        }
        .rating{
          padding: 0 10px;
          display: flex;
          .rating_star{
            width: 20px;
            height: 20px;
            background: url('/public/star.svg') no-repeat center / cover;
            border: none;
            padding: 6px;
          }
          .rating_text{
            opacity: 50%;
          }
        }
        .price_box{
          padding: 10px;
          display: flex;
          flex-direction: column;
          .price_per_month{
            width: fit-content;
            font-size: 10px;
            border-radius: 5px;
            background-color: gold;
            padding: 5px;
          }
          .price_origin{
            text-decoration: line-through;
            opacity: 70%;
            padding-top: 15px;
            font-size: 13px;
          }
          .price_sale{
            font-size: 15px;
          }
        }
        .basket{
          background: url('/public/basket_add.svg') no-repeat center / cover;
          width: 28px;
          height: 28px;
          position: absolute;
          right: 10px;
          bottom: 10px;
          opacity: 70%;
          border-radius: 50%;
          padding: 10px;
          border: 1px solid grey;
          cursor: pointer;
        }
      }
    }
    .btn{
      max-width: 100%;
      border: none;
      margin: 20px 20%;
      padding: 15px 26%;
      border-radius: 15px;
      background-color: rgba(49, 49, 196, 0.10);
      font-size: 16px;
      white-space: nowrap;
      cursor: pointer;
    }
    .btn:hover{
      background-color: rgba(49, 49, 196, 0.2);
    }
    .kitchen{
      margin-top: 40px;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 20px;
      position: relative;
      .item{
        width: 100%;
        border-radius: 15px;
        position: relative;
        .img_box{
          background-color: rgba(49, 49, 196, 0.10);
          padding: 5px;
          border-radius: 15px;
          img{
            width: 100%;
            height: 253px;
            border-radius: 15px;
          }        
          .favourite{
            width: 25px;
            height: 25px;
            background: url('/public/heart.svg') no-repeat center / cover;
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;
            padding: 12px;
          }
          .sale{
            border-radius: 4px;
            background: #5000AA;
            color: white;
            padding: 5px;
            position: absolute;
            top: 230px;
            left: 5px;
          }
        }
        .name{
          padding: 10px;
        }
        .rating{
          padding: 0 10px;
          display: flex;
          .rating_star{
            width: 20px;
            height: 20px;
            background: url('/public/star.svg') no-repeat center / cover;
            border: none;
            padding: 6px;
          }
          .rating_text{
            opacity: 50%;
          }
        }
        .price_box{
          padding: 10px;
          display: flex;
          flex-direction: column;
          .price_per_month{
            width: fit-content;
            font-size: 10px;
            border-radius: 5px;
            background-color: gold;
            padding: 5px;
          }
          .price_origin{
            text-decoration: line-through;
            opacity: 70%;
            padding-top: 15px;
            font-size: 13px;
          }
          .price_sale{
            font-size: 15px;
          }
        }
        .basket{
          background: url('/public/basket_add.svg') no-repeat center / cover;
          width: 28px;
          height: 28px;
          position: absolute;
          right: 10px;
          bottom: 10px;
          opacity: 70%;
          border-radius: 50%;
          padding: 10px;
          border: 1px solid grey;
          cursor: pointer;
        }
      }
    }
  }
}

.catalog_list{
  background-color: white;
  width: 100%;
  position: absolute;
  top: 100px;
  z-index: 2;
  box-shadow: 0 50px 15px rgba(0, 0, 0, 0.5);
  .left_tegs{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    padding: 40px 10px 40px 40px;
    .teg{
      width: 240px;
      display: flex;
      justify-content: space-between;
      .title{
        display: flex;
        align-items: center;
        gap: 10px;
        img{
          width: 22px;
          height: 22px;
        }
        p{
          font-size: 15px;
        }
      }
      img{
        width: 15px;
        height: 15px;
      }
    }
  }
  .right_tegs{
    position: absolute;
    top: 0;
    left: 300px;
    width: 1210px;
    padding: 10px;
    .teg_title{
      display: flex;
      align-items: center;
      span{
        font-size: 18px;
      }
      img{
        width: 30px;
      }
    }
    .direction{
      height: 628px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      .box{
        padding-bottom: 20px;
        ul{
          display: flex;
          flex-direction: column;
          gap: 10px;
          span{
            font-size: 16px;
            font-weight: bold;
            padding: 10px 0;
          }
          li{
            color: #98a3c2;
            list-style: none;
            font-weight: 400;
            cursor: pointer;
          }
        }
      }
    }
  }
}

.login_modal{
  position: absolute;
  inset: 0;
  z-index: 1;
  .dark_background{
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100vh;
    position: relative;
  }
  .modal{
    width: 400px;
    height: 500px;
    background-color: white;
    border-radius: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: column;
    padding: 30px;
    button{
      position: absolute;
      right: 20px;
      top: 20px;
      border: none;
      border-radius: 50%;
      background-color: rgb(230, 230, 230);
      padding: 4px;
      cursor: pointer;
      img{
        width: 20px;
        height: 20px;
      }
    }
    span{
      font-size: 28px;
      font-weight: bold;
    }
    p{
      font-size: 17px;
    }
    form{
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 20px;
      margin: 15px 0;
      input{
        width: 100%;
        height: 50px;
        border: none;
        background-color: rgb(230, 230, 230);
        outline: none;
        padding: 0 10px;
        font-size: 20px;
        border-radius: 10px;
      }
      button{
        width: 100%;
        height: 50px;
        background-color: rgb(96, 28, 186);
        color: white;
        border-radius: 10px;
        font-size: 17px;
        font-weight: bold;
        position: inherit;
        cursor: pointer;
      }
      button:hover{
        background-color: rgb(116, 48, 206);
      }
    }
    .policy{
      text-align: center;
      position: absolute;
      bottom: 30px;
      a{
      }
    }
  }
}
.city_modal{
  position: absolute;
  inset: 0;
  z-index: 1;
  .dark_background{
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100vh;
    position: relative;
  }
  .modal{
    height: 80vh;
    background-color: white;
    border-radius: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: 1;
    padding: 30px 30px 30px 40px;
    overflow-y: scroll;
    button{
      position: absolute;
      right: 5px;
      top: 20px;
      border: none;
      border-radius: 50%;
      background-color: rgb(230, 230, 230);
      padding: 4px;
      cursor: pointer;
      img{
        width: 20px;
        height: 20px;
      }
    }
    span{
      font-size: 28px;
      font-weight: bold;
    }
    p{
      font-size: 17px;
      padding: 10px 0;
    }
    input{
      width: 100%;
      height: 50px;
      border: none;
      background-color: rgb(230, 230, 230);
      outline: none;
      padding: 0 10px;
      font-size: 15px;
      border-radius: 5px;
      margin-bottom: 10px;
    }
    .city_list{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      .city_box{
        cursor: pointer;
        padding: 0 10px;
      }
      .city_box:hover{
        background-color: rgb(230, 230, 230);
      }
    }
  }
  .modal::-webkit-scrollbar{
    overflow: hidden;
  }
}

.hide{
  display: none;
}