*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main{
  .container{
    padding: 40px;
    .product_box{
      display: flex;
      justify-content: space-between;
      gap: 20px;
      .product_img{
        width: 50%;
      }
      .product_description{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        .product_title{
          display: flex;
          flex-direction: column;
          gap: 10px;
          .rating{
            display: flex;
            gap: 10px;
            p{
              color: #62656A;
              font-size: 13px;
            }
            span{
              color: #62656A;
              font-size: 13px;}
          }
          h1{
            font-size: 30px;
          }
          p{}
        }
        .product_specification{
          display: flex;
          flex-direction: column;
          gap: 10px;
          span{
            display: flex;
            gap: 8px;
            p{
              font-weight: bold;
            }
          }
          .buttons{
            display: flex;
            gap: 10px;
            button{
              padding: 10px 15px;
              border-radius: 5px;
              border: none;
              cursor: pointer;
            }
            .active{
              background-color: rgb(150, 150, 150);
              font-weight: bold;
            }
          }
          .count_btn{
            display: flex;
            align-items: center;
            gap: 15px;
            .minus{
              img{
                display: flex;
                justify-content: center;
                align-items: center;
              }
            }
            p{
              font-size: 15px;
            }
          }
          .price{
            font-size: 20px;
            font-weight: bold;
          }
          .sale{}
          .btns{
            display: flex;
            gap: 10px;
            button{
              width: 50%;
              height: 50px;
            }
            .add{
              background-color: #7000ff;
              color: white;
              border: none;
              border-radius: 10px;
              font-size: 15px;
              font-weight: bold;
              cursor: pointer;
            }
            .add:hover{
              background-color: rgb(60, 0, 125);
            }
            .buy{
              background-color: white;
              color: #7000ff;
              border: 2px solid  #7000ff;
              border-radius: 10px;
              font-size: 15px;
              font-weight: bold;
              cursor: pointer;
            }
            .buy:hover{
              background-color: rgb(220, 220, 220);
            }
          }
          .description{
            line-height: 20px;
          }
        }
      }
    }
  }
}